pre {
    padding: 1.5px;
}

button, input, optgroup, select, textarea {
    font-weight: normal;
}

.grab {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    color: #ccc;
    margin-right: 5px;
    overflow: hidden;
    width: 0.65em;
}
.grab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.note {
    font-style: italic;
}

.comment {
    color: #999;
    font-size: 85%;
}

.required::after {
    color: #d9534f;
    content: ' *';
}

.bg-red {
    background-color: #f2dede;
}

.lightgrey {
    color: #999;
}

.grey {
    color: #666;
}

.darkgrey {
    color: #333;
}

.red {
    color: #d9534f;
}

.lightblue {
    color: #5bc0de;
}

.blue {
    color: #428bca;
}

.yellow {
    color: #f0ad4e;
}

.orange {
    color: #f4791f;
}

.green {
    color: #5cb85c;
}

.modal-backdrop.fade.in {
    opacity: 0;
}

ul.flash  {
    padding: 0;
    list-style-type: none;
}

.nav-tabs + .tab-content > .tab-pane {
    padding: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.nav-tabs + .tab-content > .tab-pane > blockquote {
    margin-top: 16px;
}

.tree {
    min-height: 20px;
}

.tree > div:first-child {
    position:relative;
    margin:0;
    padding:0 15px 0 0;
    z-index: 99;
}

#hide-all, #show-all {
    margin-left: 10px;
}

.tree .see-more {
    font-size: 90%;
    margin-bottom: 0;
}

.tree dd.value::before {
    content: '• ';
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.tree > ul {
    margin: 0;
    padding: 0 10px;
}

.tree > ul > li {
    margin: 10px 0 20px;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}

.tree li::before {
    border-left:1px solid #ccc;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.tree li::after {
    border-top:1px solid #ccc;
    height:20px;
    top:30px;
    width:25px
}

.tree li .tree-item {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #ccc;
    border-radius:5px;
    display:inline-block;
    min-height: 34px;
    padding:6px 8px;
    vertical-align: middle;
    text-decoration:none
}

.tree li>.tree-item>i {
    cursor:pointer
}

.tree>ul>li::before, .tree>ul>li::after {
    border:0
}

.tree li:last-child::before {
    height:30px
}

.tree li.parent_li>.tree-item:hover, .tree li.parent_li>.tree-item:hover+ul li .tree-item {
    background: #f8f8f8;
    border:1px solid #bbb;
    color:#000
}

.tree dl.dl-horizontal > dt {
    margin-left: 18px;
    text-align: left;
    font-style: italic;
    width: 122px;
}

.tree dl.dl-horizontal > dd {
    font-style: italic;
    margin-left: 140px;
    width: 150px;
}

.table pre {
    white-space: normal;
    background: none;
    border: none;
    overflow: hidden;
}

.container {
    max-width: 1400px;
}

.logo {
    background: url('/images/logo.png') 12px center no-repeat;
    text-indent: 24px;
    margin: 0;
}

.version {
    color: #999;
    font-size: 60%;
}

.date {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
}

.panel-break {
    border-left: 3px solid #ddd;
    margin: -12px 15px -12px 15px;
    padding: 12px 0 12px 0;
}

.type_os {
    text-align: center;
}

.info-bar {
    font-weight:bold;
    font-size: 18px;
}
.info-bar .green {
    color: #6da72b;
}

.info-bar .yellow {
    color: #ca6e22;
}

.info-bar .red {
    color: #a63a2e;
}

.info-bar .blue {
    color: #308cbc;
}

.info-bar .grey {
    color: #ddd;
}

.btn-xs {
    padding: 2px 8px;
}

.btn-disabled {
    cursor: default;
}

.bar-stat {
    position: relative;
}
.bar-stat .title {
    font-size: 12px;
    display: block;
}
.bar-stat .value {
    font-size: 17px;
    font-weight: bold;
}
.bar-stat .chart {
    position: absolute;
    top: 0;
    right: 0;
}

.badge-important{background-color:#a63a2e;}

.progress-bar-title {
    display: inline-block;
    float: right;
    padding-left: 10px;
}

.label {
    font-weight: normal;
}

.label-uniform,
.label-uniform-large {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
}

.label-uniform {
    min-width: 6ex;
}

.label-uniform-large {
    min-width: 12ex;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    padding:4px;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

li.search-field input.default {
    width: auto !important;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

[data-toggle=collapse].panel-heading {
    cursor: pointer;
}

.panel-heading.collapsed {
    border-bottom: none;
}

#current-environment-form {
    margin: 11px 5px;
}

.dataTables_processing {
    position: absolute;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-left: -16px;
    background: url('/images/wait.gif') center center no-repeat;
    text-indent: -999999px;
}

form#set-environment-form div.input-group {
    margin-top: -15px;
}

#environment_chosen,
form#set-environment-form div.input-group-btn {
    width: auto!important;
}

.class-parameters {
    display: none;
}

.class-parameters.active {
    display: block;
}

.DifferencesLegend {
    display: inline-block;
    width: 20px;
}

.DifferencesLegend.ChangeInsert {
    background-color: #cfc;
}

.DifferencesLegend.ChangeReplace {
    background-color: #fc0;
}

.DifferencesLegend.ChangeDelete {
    background-color: #f88;
}

.DifferencesHeader {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 8px 8px 3px;
    background: #fafafa;
    font-weight: bold;
}

.DifferencesHeader:first-child {
    margin-top: 0;
}

.Differences {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 5px solid #fafafa;
}

.Differences thead {
    display: none;
}

.Differences tbody th {
    text-align: right;
    background: #fafafa;
    width: 4em;
    padding: 1px 8px;
    vertical-align: top;
    font-size: 13px;
}

.Differences td {
    padding: 1px 8px;
    font-family: Consolas, monospace;
    font-size: 13px;
    width: 45%;
}

.DifferencesSideBySide .ChangeInsert td.Left {
    background: #dfd;
}

.DifferencesSideBySide .ChangeInsert td.Right {
    background: #cfc;
}

.DifferencesSideBySide .ChangeDelete td.Left {
    background: #f88;
}

.DifferencesSideBySide .ChangeDelete td.Right {
    background: #faa;
}

.DifferencesSideBySide .ChangeReplace .Left {
    background: #fe9;
}

.DifferencesSideBySide .ChangeReplace .Right {
    background: #fd8;
}

.Differences ins, .Differences del {
    text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
    background: #fc0;
}

.Differences .Skipped {
    background: #f7f7f7;
}

.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
    background: #fdd;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
    background: #dfd;
}

.DifferencesInline .ChangeReplace ins {
    background: #9e9;
}

.DifferencesInline .ChangeReplace del {
    background: #e99;
}

.gritter-item p.signature {
    text-align: right;
    margin-top: 5px;
}

.gritter-success .gritter-item {
    background-color: #dff0d8;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff0d8', endColorstr='#dff0d8',GradientType=0 ); /* IE6-8 */
    color: #3c763d !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-success .gritter-close {
    background: url(../images/close-button.png);
}

.gritter-success .gritter-title {
    color: #3c763d !important;
    text-shadow: none !important;
}

.gritter-warning .gritter-item {
    background-color: #fcf8e3;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8e3', endColorstr='#fcf8e3',GradientType=0 ); /* IE6-8 */
    color: #8a6d3b !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-warning .gritter-close {
    background: url(../images/close-button.png);
}

.gritter-warning .gritter-title {
    color: #8a6d3b !important;
    text-shadow: none !important;
}

.gritter-danger .gritter-item {
    background-color: #f2dede;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2dede', endColorstr='#f2dede',GradientType=0 ); /* IE6-8 */
    color: #a94442 !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.gritter-danger .gritter-close {
    background: url(../images/close-button.png);
}

.gritter-danger .gritter-title {
    color: #a94442 !important;
    text-shadow: none !important;
}

.table-striped > tbody > tr.selected-class > td {
    background-color: #dfd;
}

.progress-bar + span {
    font-size: 12px;
    line-height: 20px;
    color: #428bca;
    text-align: left;
    padding-left: 5px;
}

.panel-heading[data-toggle="collapse"] > span:last-child:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading[data-toggle="collapse"].collapsed > span:last-child:after {
    content:"\e080";
}

.btn-toggle .btn-default {
    color: white;
}

.btn-toggle .btn-default:hover {
    color: #e6e6e6;
}
