pre {
    padding: 1.5px;
}

button, input, optgroup, select, textarea {
    font-weight: normal;
}

.grab {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    color: #ccc;
    margin-right: 5px;
    overflow: hidden;
    width: 0.65em;
}
.grab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.note {
    font-style: italic;
}

.required::after {
    color: #d9534f;
    content: ' *';
}

.lightgrey {
    color: #999;
}

.darkgrey {
    color: #666;
}

.red {
    color: #d9534f;
}

.bg-red {
    background-color: #f2dede;
}

.lightblue {
    color: #5bc0de;
}

.blue {
    color: #428bca;
}

.yellow {
    color: #f0ad4e;
}

.green {
    color: #5cb85c;
}

.icon-red {
    color: #d9534f;
}

.icon-grey {
    color: #333;
}

.icon-blue {
    color: #5bc0de;
}

.icon-yellow {
    color: #f0ad4e;
}

.modal-backdrop.fade.in {
    opacity: 0;
}

ul.flash  {
    padding: 0;
    list-style-type: none;
}

.tab-pane > blockquote {
    margin-top: 16px;
}

.tree {
    min-height: 20px;
}

.tree > div:first-child {
    position:relative;
    margin:0;
    padding:0 15px 0 0;
    z-index: 99;
}

#hide-all, #show-all {
    margin-left: 10px;
}

.tree dl.parameters {
    font-size: 90%;
}

.tree dd.value::before {
    content: '• ';
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.tree > ul {
    margin: 0;
    padding: 0 10px;
}

.tree > ul > li {
    margin: 10px 0 20px;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}

.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:30px;
    width:25px
}

.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    vertical-align: middle;
    text-decoration:none
}

.tree li>span>i {
    cursor:pointer
}

.tree>ul>li::before, .tree>ul>li::after {
    border:0
}

.tree li:last-child::before {
    height:30px
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background: #f8f8f8;
    border:1px solid #94a0b4;
    color:#000
}

.tree dl.dl-horizontal.parameters {
    margin-bottom: 0;
}

.tree dl.dl-horizontal.parameters > dt {
    margin-left: 18px;
    text-align: left;
    font-style: italic;
    width: 122px;
}

.tree dl.dl-horizontal.parameters > dd {
    font-style: italic;
    margin-left: 140px;
    width: 150px;
}

.table pre {
    white-space: normal;
    background: none;
    border: none;
    overflow: hidden;
}

.container {
    max-width: 1400px;
}

.logo {
    background: url('/images/logo.png') 12px center no-repeat;
    text-indent: 24px;
    margin: 0;
}

.version {
    color: #999;
    font-size: 60%;
}

.date {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
}

.panel-break {
    border-left: 3px solid #ddd;
    margin: -12px 15px -12px 15px;
    padding: 12px 0 12px 0;
}

.type_os {
    text-align: center;
}

.info-bar {
    font-weight:bold;
    font-size: 18px;
}
.info-bar .green {
    color: #6da72b;
}

.info-bar .yellow {
    color: #ca6e22;
}

.info-bar .red {
    color: #a63a2e;
}

.info-bar .blue {
    color: #308cbc;
}

.info-bar .grey {
    color: #ddd;
}

.btn-xs {
    padding: 2px;
}

.btn-disabled {
    cursor: default;
}

.bar-stat {
    position: relative;
}
.bar-stat .title {
    font-size: 12px;
    display: block;
}
.bar-stat .value {
    font-size: 17px;
    font-weight: bold;
}
.bar-stat .chart {
    position: absolute;
    top: 0;
    right: 0;
}

.badge-important{background-color:#a63a2e;}

.progress-bar-title {
    display: inline-block;
    float: right;
    padding-left: 10px;
}

.label {
    font-weight: normal;
}

.label-uniform,
.label-uniform-large {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
}

.label-uniform {
    min-width: 6ex;
}

.label-uniform-large {
    min-width: 12ex;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    padding:4px;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

li.search-field input.default {
    width: auto !important;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

[data-toggle=collapse].panel-heading {
    cursor: pointer;
}

.panel-heading.collapsed {
    border-bottom: none;
}

#current-environment-form {
    margin: 11px 5px;
}

.dataTables_processing {
    position: absolute;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-left: -16px;
    background: url('/images/wait.gif') center center no-repeat;
    text-indent: -999999px;
}

form#set-environment-form div.input-group {
    margin-top: -15px;
}

#environment_chosen,
form#set-environment-form div.input-group-btn {
    width: auto!important;
}
